In [2]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import time

In [4]:
api_key = 'RNZPXZ6Q9FEFMEHM'

ts = TimeSeries(key=api_key, output_format='pandas')
data, meta_data = ts.get_intraday(symbol='MSFT', interval = '1min', outputsize = 'full')
print(data)

i = 1
#while i==1:
#    data, meta_data = ts.get_intraday(symbol='MSFT', interval = '1min', outputsize = 'full')
#    data.to_excel("output.xlsx")
#    time.sleep(60)

close_data = data['4. close']
percentage_change = close_data.pct_change()

print(percentage_change)

last_change = percentage_change[-1]

if abs(last_change) > 0.0004:
    print("MSFT Alert:" + str(last_change))

                     1. open  2. high  3. low  4. close  5. volume
date
2022-03-28 20:00:00   310.60   310.70  310.60    310.70     4240.0
2022-03-28 19:58:00   310.60   310.60  310.60    310.60      121.0
2022-03-28 19:57:00   310.63   310.63  310.61    310.61      595.0
2022-03-28 19:55:00   310.75   310.75  310.70    310.70     1105.0
2022-03-28 19:52:00   310.60   310.75  310.60    310.60     1200.0
...                      ...      ...     ...       ...        ...
2022-03-15 04:09:00   276.50   276.88  276.44    276.88      932.0
2022-03-15 04:08:00   276.00   276.44  276.00    276.44      481.0
2022-03-15 04:06:00   275.90   275.90  275.90    275.90      976.0
2022-03-15 04:05:00   275.90   275.90  275.90    275.90      819.0
2022-03-15 04:03:00   275.80   275.80  275.80    275.80      662.0

[6025 rows x 5 columns]
date
2022-03-28 20:00:00         NaN
2022-03-28 19:58:00   -0.000322
2022-03-28 19:57:00    0.000032
2022-03-28 19:55:00    0.000290
2022-03-28 19:52:00   -0.000322
                         ...
2022-03-15 04:09:00    0.002934
2022-03-15 04:08:00   -0.001589
2022-03-15 04:06:00   -0.001953
2022-03-15 04:05:00    0.000000
2022-03-15 04:03:00   -0.000362
Name: 4. close, Length: 6025, dtype: float64